@model Scarpe

<form action="/Scarpe/Add" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="Name" class="form-label">Nome:</label>
        <input type="text" name="Name" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="Price" class="form-label">Prezzo:</label>
        <input type="number" name="Price" class="form-control" required />
    </div>

    <div class="mb-3">
        <label for="Descrizione" class="form-label">Descrizione:</label>
        <textarea name="Descrizione" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label for="ImmagineDiCopertina" class="form-label">Immagine di Copertina:</label>
        <input type="file" name="ImmagineDiCopertina" class="form-control" accept="image/*" required />
    </div>

    <div class="mb-3">
        <label for="Immagine1" class="form-label">Immagine 1:</label>
        <input type="file" name="Immagine1" class="form-control" accept="image/*" required />
    </div>

    <div class="mb-3">
        <label for="Immagine2" class="form-label">Immagine 2:</label>
        <input type="file" name="Immagine2" class="form-control" accept="image/*" required />
    </div>

    <button type="submit" class="btn btn-primary">Inserisci Scarpe</button>
</form>
